{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Welcome to A-Team</title>
{% endblock title %}

{% block content %}
    <div class="container">
        {% for item in items %}
        <div>
                <h6><strong>{{item.name}}</strong></h6>
                <h6>{{item.description}}</h6>
                <h6><strong>{{item.price}}</strong></h6>
                <a href="{% url 'buy' item.id %}"><button type="button">Buy</button></a>
        </div>
        {% endfor %}
    </div>
{% endblock content %}